* {
  box-sizing: border-box;
}
body {
  background: #83f1f1;
  width: 960 px;
  margin: 0 auto;
}
li {
  display: inline;
  padding: 5px;
  text-align: center;
}
#cookie_table {
  border: 21px solid #450808;
  text-align: center;
  padding: 15px;
  background-color: rgb(0, 104, 128);
  border-collapse: collapse;
  margin: auto;
  padding-bottom: 37px;
}
#cookie_table th {
  padding: 15px;
  border: 1px solid black;
  border-collapse: collapse;
}
#cookie_table tr {
  background: aquamarine;
  border-bottom: 1px;
  border-color: black;
  border: 1px;
  border-collapse: collapse;
}
#cookie_title {
  text-align: center;
  font-family: cursive;
  background: url("salmon.png") no-repeat; /*www.w3schools.com*/
  height: 250px;
  background-position: center;
  padding: 3px;
  color: lavenderblush;
  text-shadow: 5px 5px black;
}
#cookie_store {
  margin: auto;
  align-content: center;
  width: 1200px;
  padding-bottom: 37px;
  padding-top: 37px;
  background: url("cookie-gif.gif") no-repeat center;
  background-size: 160px;
}
legend {
    margin: auto;
    font-family: cursive;
    font-size: 25px;
}
#button {
  margin-left: 50%;
  transform: translate(-50%, 0);
  }
#cookie_table td {
  border: 1px solid black;
}
ul {
  text-align: center;
  margin-top: 78px;
}
p {
  text-align: center;
}
